<!DOCTYPE html>
<html>
<head>
  <title>Mundo Slack</title>
  <link rel="shortcut icon" type= "image/x-icon" href="/images/logo.png">
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
  <script src="https://kit.fontawesome.com/eb81e2a038.js" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  
  <%- include('./partials/header.ejs') %>
  
  <!-- <article class= flex-container>
    <header>
      <h1>What Does WWF Do?</h1>
      <p>WWF's mission:</p>
    </header>
    <p>WWF's mission is to stop the degradation of our planet's natural environment,
      and build a future in which humans live in harmony with nature.</p>
    </article> -->
    
    <main>
      <section class="container" >
        <div class="row">
          
          <div class="col-12 col-md-4 col-lg-4 categoria">
            <a href="#">
              <img class="img-categoria" src="/images/classic.jpg" alt="classic" />
              <h3 class="titulo-categoria">Classic</h3>
            </a>
          </div>
          
          <div class="col-12 col-md-4 col-lg-4 categoria">
            <a href="#" >
              <img  class="img-categoria" src="/images/highline.jpg" alt="" />
              <h3 class="titulo-categoria">Trickline</h3>
            </a>
          </div>
          
          <div class="col-12 col-md-4 col-lg-4 categoria">
            <a href="#" >
              <img class="img-categoria" src="/images/trickline.jpg" alt="" />
              <h3 class="titulo-categoria">Highline</h3>
            </a>
          </div>

        </div>
      </section>
      
      <section class ="container">
        <div class="row">
          <h3 class="col-12">Sobre Nosotros</h3>
          <p  class="col-12">Somos una asociación dedicada a promover el slack como deporte en la Argentina desde hace más de 20 años. Nuestra acción se basa en brindar un espacio para el intercambio de información entre interesados de todos los niveles: desde principiantes hasta avanzados. Tambien facilitar la adquisición de equipamiento para su práctica y la organización de eventos y clases. </p>
          
        </div>
      </section>
    </main>
    
    <%- include('./partials/footer.ejs') %>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    
  </body>
  </html>
  